<div class="interactive-atom">
  <header class="page-header">
    <p class="page-title">

      Superannuation policy is a complex subject that people often find difficult to understand. Here’s a guide to give you an
      idea of how these changes could affect you, and whether you’ll be better or worse off if they go ahead.

    </p>
    <a class="scroll-down" href="#gallery">
      <img src="<%= path %>/assets/icon-arrow-down.svg" alt="scroll down" />
    </a>
  </header>

  <div class="section" id="content">

    <section>
      <p>Australia’s superannuation system is <a href="https://www.mercer.com.au/our-thinking/mercer-melbourne-global-pension-index.html"
          rel="noopener noreferrer" target="_blank">consistently regarded</a> as one of the best in the world. At the moment,
        the law says employers must pick a default super account for new workers who don’t pick one themselves. The Fair
        Work Commission applies a quality filter to shortlist super funds for employers to choose from, most of which are
        not-for-profit industry funds that often outperform their retail and bank-owned competitors.</p>

      <div class="tile tile--right">
        <div class="tile--title">
          <p>Lost opportunity</p>
          <hr />
        </div>

        <div>
          <p class="tile--stat">$135 billion</p>
          <p class="tile--caption">The amount underperforming retail super funds have cost Australia’s superannuation pool since 1996.</p>
        </div>

        <div class="tile--title">
          <p>Members first</p>
          <hr />
        </div>

        <div class="donut-chart-1" id="stats_00">
          <svg id="donut-chart-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 219 219">
            <path class="st0" d="M109.5 0C49 0 0 49 0 109.5S49 219 109.5 219 219 170 219 109.5 170 0 109.5 0zm0 193C63.4 193 26 155.6 26 109.5S63.4 26 109.5 26 193 63.4 193 109.5 155.6 193 109.5 193z"
            />
            <path class="st1" d="M109.5 0h-.6l-.2 26h.8c46.1 0 83.5 37.4 83.5 83.5S155.6 193 109.5 193c-30.3 0-56.9-16.2-71.5-40.4l-22.6 12.8c19.1 32.1 54.1 53.5 94.1 53.5C170 219 219 170 219 109.5 219 49 170 0 109.5 0z"
            />
          </svg>
          <div class="stat donut-chart--stat"><span class="stat-number">0</span><sup>%</sup></div>
        </div>

        <p class="tile--caption">70% of Australians think all super funds should be run on a not for profit basis. Just 6% disagree.</p>
        <p class="tile--caption__small">(Source: ISA analysis of APRA data: Retail’s pool of assets would be $135 billion greater had they achieved industry
          fund returns from 1996 to March 2017)</p>

      </div>


      <p>Industry super funds are typically run by a mixture of representatives from employer groups and unions, which don’t
        earn a profit and act in the interests of their members, unlike bank-owned funds, which also generate corporate profits
        which are returned as dividends to shareholders, not superfund members. Super contributions are also classed as compulsory
        workplace entitlements, which ensures that all working Australians can access super as a right, not as a luxury.</p>

      <p>The major banks are lobbying the government to make changes to superannuation laws so that banks can get access to
        more workers super. The government is preparing to act on the banks wish list including changing the boards of industry
        super funds so they are run more like bank-owned funds, and are looking to remove the default protections that ensure
        workers who don’t choose a super fund are put in a high-performing fund.
      </p>


    </section>


    <section>
      <div class="tile tile--left">
        <div class="tile--title">
          <p>Industry super funds outperform funds run by the big banks</p>
          <hr />
        </div>

        <div class="row">
          <div class="donut-chart-2 col-2">
            <svg id="donut-chart-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 218.9 219.3">
              <path class="st0" d="M1.4 92.2C-8.3 151.9 32.3 208.1 92 217.8c59.7 9.7 115.9-30.9 125.6-90.6S186.7 11.3 127 1.7 11.1 32.5 1.4 92.2zm190.5 30.9c-7.4 45.5-50.3 76.4-95.8 69.1S19.7 141.9 27 96.4 77.3 20 122.8 27.3s76.5 50.3 69.1 95.8z"
              />
              <path class="st1" d="M126.9 1.4c-12.1-2-24.1-1.9-35.6.1L94 27.4c9.2-1.7 18.9-1.9 28.7-.3 45.5 7.4 76.4 50.3 69.1 95.8-7.4 45.5-50.3 76.4-95.8 69.1-30.5-4.9-54.4-25.8-64.7-52.8L9.7 154.9c14.7 32.1 44.6 56.6 82.1 62.7 59.7 9.7 115.9-30.9 125.6-90.6 9.7-59.6-30.8-115.9-90.5-125.6z"
              />
              <path class="st2" d="M1.4 92.2c0 .2-.1.4-.1.5L27 97.1c0-.3.1-.5.1-.8 7.4-45.5 50.3-76.4 95.8-69.1S199.3 77.5 192 123c-4.9 29.9-25.1 53.6-51.3 64.1l9 24.4c34.7-13.7 61.5-44.8 67.9-84.3C227.3 67.6 186.7 11.3 127 1.7S11.1 32.5 1.4 92.2z"
              />
            </svg>
            <span class="donut-chart--stat">Fees</span>
          </div>
          <div class="col-2">
            <div class="tooltip">
              <h4>57.4%</h4>
              <p>The proportion of all super fund fees that are paid to retail funds</p>
            </div>
            <div class="tooltip">
              <h4>29.2%</h4>
              <p>The proportion of all super fund fees that are paid to industry funds</p>
            </div>

          </div>
        </div>

        <div class="bar-graph">
          <div class="bar-graph--title" id="stats_01">
            <span class="stat"><span class="stat-number">0</span></span> out of 13
          </div>
          <div class="bar-graph-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 457.5 71.74" id="bar-graph-1">
              <g>
                <rect class="fill" x="0.13" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="35.28" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="70.43" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="105.58" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="140.74" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="175.89" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="211.04" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="246.2" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="281.35" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="316.5" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="351.66" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="386.81" y="0.13" width="35.54" height="71.49" />
                <rect x="421.96" y="0.13" width="35.54" height="71.49" />
              </g>
            </svg>
          </div>
          <div class="bar-graph--caption">
            Years since 2003-04 in which industry funds had a higher average annual rate of return than retail funds
          </div>
        </div>

        <div class="bar-graph">
          <div class="bar-graph--title" id="stats_02">
            <span class="stat"><span class="stat-number">0</span></span> out of 10
          </div>
          <div class="bar-graph-2">
            <svg id="bar-graph-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 422.2 71.5">
              <g>
                <rect class="fill" x="0.13" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="35.28" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="70.43" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="105.58" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="140.74" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="175.89" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="211.04" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="246.2" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="281.35" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="316.5" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="351.66" y="0.13" width="35.54" height="71.49" />
                <rect class="fill" x="386.81" y="0.13" width="35.54" height="71.49" />
                <rect x="421.96" y="0.13" width="35.54" height="71.49" />
              </g>
            </svg>
          </div>
          <div class="bar-graph--caption">
            The number of industry funds in <a href="https://www.superratings.com.au/top-tens/returns" rel="noopener noreferrer"
              target="_blank">SuperRatings’ Top 10</a> best-performing balanced funds of 2016-17 financial year, July 2016
          </div>
        </div>

      </div>

      <p class="clear--right offset--top">So are these changes necessary? The numbers consistently show not-for-profit industry super funds on average, provide
        greater returns for members and are more trusted by the public than for-profit funds run by major banks. People are
        especially supportive of super funds being run in the interests of their members rather than for a profit motive,
        and are concerned about any efforts to reduce superannuation from a workplace entitlement to just another part of
        the finance sector.</p>

      <div class="pullquote">
        <div class="image">
          <img src="<%= path %>/assets/icon-quote.svg" alt="">

        </div>
        <blockquote cite="Industry Super Australia chief executive David Whiteley">
          “The banks’ relentless lobbying to remove consumer default protections could result in people ending up in underperforming
          funds and a nest egg that’s tens, even hundreds of thousands of dollars short.” <br>
          <span class="cite">Industry Super Australia
                  chief executive David Whiteley</span>
        </blockquote>

      </div>

    </section>


    <section>

      <p class="clear--both">
        People are also very wary about giving Australia’s largest banks even more control over their financial affairs. As banking
        profits and executive bonuses have reached <a href="https://www.theguardian.com/commentisfree/2016/apr/15/the-big-banks-need-to-clean-up-their-culture-but-they-cant-do-it-themselves"
          rel="noopener noreferrer" target="_blank">extraordinary highs</a>, public confidence in the big banks has plummeted.
        Even in the face of <a href="https://www.theguardian.com/australia-news/2016/oct/04/most-voters-back-a-royal-commission-into-the-banking-industry"
          rel="noopener noreferrer" target="_blank">overwhelming public support</a> for a royal commission into the banking
        sector, the government is considering reforms that would allow the banks to get their hands on more workers super.
      </p>

      <div class="tile center poll-grid" id="stats_03">
        <div class="tile--title">
          <p>People don’t trust the big banks with their super</p>
          <hr />
        </div>

        <div class="poll-grid--item">
          <div class="stat">
            <h3 class="stat-number">0</h3><sup>%</sup></div>
          <h4>disagree</h4>
          <i>“The big banks have consumers’ interests at heart”</i>
        </div>
        <div class="poll-grid--item">
          <div class="stat">
            <h3 class="stat-number">0</h3><sup>%</sup></div>
          <h4>agree</h4>
          <i>“Banks already have too much power”</i>
        </div>
        <div class="poll-grid--item">
          <div class="stat">
            <h3 class="stat-number">0</h3><sup>%</sup></div>
          <h4>agree</h4>
          <i>“More bank involvement in superannuation could mean people like me will retire with less”</i>
        </div>
        <div class="poll-grid--item">
          <div class="stat">
            <h3 class="stat-number">0</h3><sup>%</sup></div>
          <h4>agree</h4>
          <i>“The four major banks aren’t trustworthy to use superannuation in the best interests of Australians”</i>
        </div>

        <div class="poll-grid--source">

          (from <a href="https://www.theguardian.com/australia-news/2017/mar/03/70-of-people-think-all-super-funds-should-be-not-for-profit-poll-finds"
            rel="noopener noreferrer" target="_blank">Essential poll February 2017</a>)
        </div>
      </div>
    </section>


  </div>
</div>
