<div class="interactive-atom">
  <header class="page-header">
    <p class="page-title">

      To find out more about the proposed superannuation reforms and how they may affect you, here’s a guide to the super sector
      as it stands now, and how it might change if the government’s reforms go ahead

    </p>
    <a class="scroll-down" href="#gallery">
      <img src="<%= path %>/assets/icon-arrow-down.svg" alt="scroll down" />

    </a>
  </header>

  <div class="section" id="content">

    <section>
      <div class="tile tile--right">
        <hr />

        <div>
          <p class="tile--stat">$15,364*</p>
          <p class="tile--caption__small">How much more someone on a $50,000-a-year salary with $50,000 in an industry super fund received in the last decade
            compared to someone in a retail super fund.</p>
        </div>
      </div>

      <p>
        In the last few years, thousands of Australians have been ripped off by the big banks. Sick and dying people have
        <a href="#" rel="noopener noreferrer" target="_blank">been denied</a> insurance payouts by the Commonwealth Bank’s
        insurance arm, CommInsure. More than 1,100 people <a href="#" rel="noopener noreferrer" target="_blank">lost savings</a>        after following fraudulent and misleading advice from CommBank financial advisors, and thousands more lost their
        life savings after the big banks underwrote a timber financing “Ponzi scheme”. Since 2009, several of the big banks
        and many of their subsidiaries have been forced to pay more than $340 million in refunds, fines and compensation
        to wronged customers.
      </p>

      <div class="tile tile--left">
        <hr />

        <div class="row">
          <div class="bar-graph">
            <div class="bar-graph--title" id="stats_02">
              <span class="stat"><span class="stat-number">0</span></span> in 10
            </div>
            <div class="bar-graph-1">
              <svg id="bar-graph-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 422.2 71.5">
                <g>
                  <rect class="fill" x="0.13" y="0.13" width="35.54" height="71.49" />
                  <rect class="fill" x="35.28" y="0.13" width="35.54" height="71.49" />
                  <rect class="fill" x="70.43" y="0.13" width="35.54" height="71.49" />
                  <rect class="fill" x="105.58" y="0.13" width="35.54" height="71.49" />
                  <rect class="fill" x="140.74" y="0.13" width="35.54" height="71.49" />
                  <rect class="fill" x="175.89" y="0.13" width="35.54" height="71.49" />
                  <rect class="fill" x="211.04" y="0.13" width="35.54" height="71.49" />
                  <rect class="fill" x="246.2" y="0.13" width="35.54" height="71.49" />
                  <rect class="fill" x="281.35" y="0.13" width="35.54" height="71.49" />
                  <rect class="fill" x="316.5" y="0.13" width="35.54" height="71.49" />
                  <rect class="fill" x="351.66" y="0.13" width="35.54" height="71.49" />
                  <rect class="fill" x="386.81" y="0.13" width="35.54" height="71.49" />
                  <rect x="421.96" y="0.13" width="35.54" height="71.49" />
                </g>
              </svg>
            </div>
            <div class="tile--caption__small">
              The number of businesses that when offered incentives by a bank changed their default superfund. Source: UMR Research, Default
              funds and the banks October 2016
            </div>
          </div>
        </div>
      </div>

      <div class="pullquote pullquote--right">
        <div class="image">
          <img src="<%= path %>/assets/icon-quote.svg" alt="">

        </div>

        <blockquote cite="Industry Super Australia chief executive David Whiteley">
          “The reality of superannuation is that the vast majority of Australians - an estimated 8 million - typically do not choose
          their own fund they rely on the default fund that’s established by the employer.” <br>

          <span class="cite">Industry Super Australia
                    chief executive David Whiteley</span>
        </blockquote>

      </div>

      <!-- .tile "5 year fund" -->
      <div class="tile tile--right">
        <div class="tile--title">
          Industry SuperFunds long term outperformance
          <hr />
        </div>

        <div class="row">
          <div class="bar-graph">
            <div class="bar-graph--title" id="stats_04">
              <p>5 year fund</p>
            </div>
            <div class="bar-graph-2">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 492.4 154"
                xml:space="preserve" enable-background="new 0 0 492.4 154">
                <style type="text/css">
                  .st2 {
                    fill: none
                  }

                  .st3 {
                    font-family: DS4DisplaySansMedium;
                  }

                  .st4 {
                    font-size: 16px
                  }

                  .st5 {
                    fill: #000222
                  }

                  .st6 {
                    font-family: DS5DisplaySansSemibold;
                  }

                  .st7 {
                    font-size: 20px
                  }

                  .st8 {
                    font-family: DS3DisplaySans;
                  }
                </style>
                <rect x="123.9" y="0" class="st0" width="298.6" height="63.6" />
                <rect x="124" y="88.9" class="st1" width="236" height="65.1" />
                <rect x="6.5" y="18.7" class="st2" width="99.6" height="34.8" />
                <text transform="matrix(1 0 0 1 49.2611 30.5376)">
                  <tspan x="0" y="0" class="st3 st4">Industry </tspan>
                  <tspan x="-24.3" y="19.2" class="st3 st4">SuperFunds</tspan>
                </text>
                <rect x="0" y="109.7" class="st2" width="106.1" height="36" />
                <text transform="matrix(1 0 0 1 20.1091 121.5376)">
                  <tspan x="0" y="0" class="st3 st4">Bank-owned </tspan>
                  <tspan x="4.8" y="19.2" class="st3 st4">SuperFunds</tspan>
                </text>
                <g>
                  <text transform="matrix(1 0 0 1 435.8951 40.7805)" class="st5 st6 st7">10.5%</text>
                </g>
                <g>
                  <text transform="matrix(1 0 0 1 369.1652 130.7805)" class="st5 st8 st7">8.3%</text>
                </g>
              </svg>
            </div>
            <div class="tile--caption__small">
              <i>Source: ISA analysis of SuperRatings Fund Crediting Rate Survey, SR50 - balanced option medians, June 2017 </i>
            </div>
          </div>
        </div>
      </div>

      <p class="clear--left">
        It’s no wonder that a Senate inquiry into the Big Four last year found that “the culture of these institutions is often not
        one that has consumers at its centre”. But that culture could soon dominate Australia’s $2 trillion superannuation
        industry. The big banks are putting pressure on the Federal government to make dramatic changes to the super system,
        and it seems the government are now preparing to act on the biggest items on the banks’ wish list. The banks are
        lobbying the government to remove the protections ensuring workers who don’t choose a super fund are put in a high-performing
        fund by default, and change the boards of not-for-profit funds so they are run more like bank-owned super funds.
        If implemented these changes could see the kind of scandals that have overshadowed the banking and finance sectors
        in recent years come to define the super sector as well.
      </p>

      <!-- .pullquote -->
      <div class="pullquote pullquote--left">
        <div class="image">
          <img src="<%= path %>/assets/icon-quote.svg" alt="">
        </div>

        <blockquote cite="Industry Super Australia chief executive David Whiteley">
          “In the best cases, poor financial advice leaves Australians’ investments and retirement savings facing elevated levels of
          risk. In the worst, Australians have had their savings wiped out.””
          <span class="cite">A <a href="#">2016 Senate</a> report into the Big Four banks</span>
        </blockquote>
      </div>


      <div class="tile tile--left">
        <div class="tile--title">Current average annual returns for default awards </div>
        <hr />
        <div class="row">
          <div class="bar-graph">
            <div class="bar-graph-3">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 525 480">
                <title>Current average annual returns for default awards</title>
                <g id="Chart">
                  <g id="Legend">
                    <line x1="266" y1="461.4" x2="298" y2="461.4" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="3" />
                    <text transform="translate(306.08 465.4)" font-size="16" font-family="DS3DisplaySans, DS3 Display Sans">
                      <tspan letter-spacing="-0.08em">T</tspan>
                      <tspan x="7.39" y="0">erm Deposit</tspan>
                    </text>
                    <line x1="130" y1="461.9" x2="136" y2="461.9" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="3" />
                    <line x1="145.67" y1="461.9" x2="160.17" y2="461.9" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="3" stroke-dasharray="9.67 9.67"
                    />
                    <line x1="165" y1="461.9" x2="171" y2="461.9" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="3" />
                    <text transform="translate(187.02 467.4)" font-size="16" font-family="DS3DisplaySans, DS3 Display Sans">CPI
                    </text>
                  </g>
                  <rect id="bar_ret" data-name="bar_ret" x="400.03" y="157.37" width="67.09" height="232.41" fill="#005688" />
                  <rect id="bar_pub" data-name="bar_pub" x="283.38" y="59.7" width="65.08" height="330.08" fill="#005688" />
                  <rect id="bar_ind" data-name="bar_ind" x="166.48" y="41.55" width="63.57" height="349.79" fill="#e2c326" />
                  <rect id="bar_corp" data-name="bar_corp" x="47.62" y="96.2" width="66" height="295.14" fill="#005688" />
                  <line id="indicator_term" data-name="indicator_term" y1="123.4" x2="525" y2="123.4" fill="none" stroke="#333" stroke-miterlimit="10"
                    stroke-width="3" />
                  <g id="indicator_cpi" data-name="indicator_cpi">
                    <line y1="243.4" x2="6" y2="243.4" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="3" />
                    <line x1="17.93" y1="243.4" x2="513.03" y2="243.4" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="3" stroke-dasharray="11.93 11.93"
                    />
                    <line x1="519" y1="243.4" x2="525" y2="243.4" fill="none" stroke="#333" stroke-miterlimit="10" stroke-width="3" />
                  </g>
                  <text transform="translate(413.74 421.73)" font-size="16" font-family="DS4DisplaySansMedium, DS4 Display Sans Medium">
                    <tspan letter-spacing="-0.02em">R</tspan>
                    <tspan x="9.34" y="0" letter-spacing="0.01em">e</tspan>
                    <tspan x="17.6" y="0">tail</tspan>
                  </text>
                  <text transform="translate(45.9 421.73)" font-size="16" font-family="DS4DisplaySansMedium, DS4 Display Sans Medium">Corpo
                    <tspan x="41.15" y="0" letter-spacing="-0.02em">r </tspan>
                    <tspan x="46.57" y="0">ate </tspan>
                  </text>
                  <text transform="translate(168.58 421.73)" font-size="16" font-family="DS4DisplaySansMedium, DS4 Display Sans Medium">Indu
                    <tspan x="30.67" y="0" letter-spacing="-0.01em">s </tspan>
                    <tspan x="37.29" y="0">t </tspan>
                    <tspan x="42.97" y="0" letter-spacing="0.01em">r </tspan>
                    <tspan x="48.8" y="0">y </tspan>
                  </text>
                  <text transform="translate(273.14 421.73)" font-size="16" font-family="DS4DisplaySansMedium, DS4 Display Sans Medium">Public Se
                    <tspan x="60.83" y="0" letter-spacing="0.01em">c </tspan>
                    <tspan x="68.19" y="0">tor </tspan>
                  </text>
                  <text transform="translate(59.73 75.9)" font-size="16" fill="#000222" font-family="DS3DisplaySans, DS3 Display Sans">
                    <tspan letter-spacing="-0.02em">4 </tspan>
                    <tspan x="8.75" y="0" letter-spacing="-0.03em">. </tspan>
                    <tspan x="12.22" y="0" letter-spacing="0.01em">7 </tspan>
                    <tspan x="20.16" y="0">%
                    </tspan>
                  </text>
                  <text transform="translate(415.95 137.9)" font-size="16" fill="#000222" font-family="DS3DisplaySans, DS3 Display Sans">
                    <tspan letter-spacing="-0.02em">3 </tspan>
                    <tspan x="7.81" y="0" letter-spacing="0em">. </tspan>
                    <tspan x="11.84" y="0" letter-spacing="-0.01em">3 </tspan>
                    <tspan x="19.73" y="0">% </tspan>
                  </text>
                  <text transform="translate(178.4 15.24)" font-size="18" fill="#000222" font-family="DS5DisplaySansSemibold, DS5 Display Sans Semibold">
                    <tspan letter-spacing="-0.02em">5 </tspan>
                    <tspan x="9.23" y="0" letter-spacing="0em">. </tspan>
                    <tspan x="13.93" y="0" letter-spacing="0em">2 </tspan>
                    <tspan x="23.36" y="0">% </tspan>
                  </text>
                  <text transform="translate(299.37 40.24)" font-size="16" fill="#000222" font-family="DS3DisplaySans, DS3 Display Sans">
                    <tspan letter-spacing="-0.02em">5</tspan>
                    <tspan x="7.82" y="0" letter-spacing="-0.07em">.</tspan>
                    <tspan x="10.74" y="0">1% </tspan>
                  </text>
                </g>
              </svg>

            </div>
            <div class="tile--caption__small">
              <i>Source: ISA analysis of APRA Quarterly Superannuation Performance (Dec 2016), ABS and RBA.</i> <br/> <br
              /> An extraordinary 94 per cent of all public offer bank-owned fund assets and 97 per cent of their member
              accounts are held in funds that earned below median returns.
            </div>
          </div>
        </div>
      </div>

      <p>
        Even if they don’t, people can still expect to lose out if underperforming retail funds have a greater stake in a landscape
        where industry funds have historically provided greater returns. One of the most consistent patterns of bad behaviour
        by the Big Four has been financial advisors encouraging people to sign up with bank-affiliated products in exchange
        for commissions, even when it’s not in the customer’s interest.
      </p>

      <p>
        The culture of scandals is already beginning to take hold in the super sector, with the banks using lucrative inducement
        packages to lure employers into picking bank-affiliated super funds as the default choice for their workers – even
        when they underperform industry funds vetted by the Fair Work Commission. Westpac’s BT Financial Group has been
        <a href="#">taken to court</a> by ASIC for cross-selling superannuation products to businesses that use other Westpac
        services. These kinds of practises doubled between 2011 and 2015, raising the risk that people will be signed up
        to super funds that don’t have their best interests at heart.
      </p>

    </section>
    <footer>
      <p class="small">
        *Based on a starting balance of $50,000 and initial salary of $50,000. Past performance is not a reliable indicator of future
        performance and should never be the sole factor considered when selecting a fund. Modelled outcome shows 10 year
        average difference in net benefit of the main balanced options of 15 Industry SuperFunds and 75 retail funds tracked
        by SuperRatings. Outcomes vary between individual funds. Modelling as at 30 June 2016. See
        <a href="#">www.industrysuper.com/assumptions</a> for morve details about modelling calculations and assumptions.
      </p>
    </footer>
  </div>
</div>
